.about-me-wrapper {
    justify-content: center; 
    margin: 45px auto 200px auto;

}
.content-wrapper {
    text-align: center;
    margin: auto;
}

.headshot {
    border-radius: 22px;
    border: 1px solid rgba(86, 86, 86, 0.3);
    box-sizing: border-box;
    box-shadow: 12px 12px 18px 0 rgba(0, 0, 0, .2), 12px 12px 18px 0 rgba(0, 0, 0, .19);
}

.resume-link {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    color: white;
    text-decoration: none;
    background: #e8a725;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 0px 20px 20px rgba(252, 251, 251, 0.05);
    padding: 6px 6px;
    border-radius: 2px;
}

.resume-link:hover {
    border: 1px solid #148027;
    color: #148027;
}

.resume-link:active {
    border: 1px solid #139b2c;
    color: #139b2c;
}

@media (max-width: 850px) {
    .content-wrapper {
        font-size: .8em;
    }
}

@media (max-width: 675px) {
    .content-wrapper {
        font-size: .75em;
    }
}