.about-me-wrapper {
    justify-content: center; 
    margin: 45px auto 200px auto;

}
.content-wrapper {
    max-width: 70%;
    text-align: center;
    margin: auto;
}

.headshot {
    border-radius: 10px;
    border: 5px solid rgba(86, 86, 86, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 20px 20px rgba(252, 251, 251, 0.05);
}