.contact-wrapper {
    margin: 10em auto; 
}

.contact-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-content {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.contact-item {
    text-align: left;
}

.link {
    text-align: left;
}

a {
    color: black; 
    text-decoration: none; 
    margin-right: .5em;
}

a:hover {
    color: white; 
}

td {
    text-align: left;
}


@media (max-width: 675px) {
    .contact-content {
        font-size: .75em;
    }
}

@media (max-width: 475px) {
    .contact-content {
        font-size: .6em;
    }
}