.projects-wrapper {
    margin: 10.5em auto;
}

.projects-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, .2fr);
    grid-column-gap: .5em;
    grid-row-gap: 1em;
    max-width: 80%;
    justify-content: space-around;
    margin: auto; 
}

.project-item{
 font-style: normal;
    font-weight: normal;
    font-size: 1.7em;
    text-align: center;
    color: white; 
    text-decoration: none;
    background: #e8a725;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 0px 20px 20px rgba(252, 251, 251, 0.05);
    padding: 1.7em 1.7em;
    border-radius: .25em;
 
}

.project-item:hover {
    border: 1px solid #148027;
    color: #148027;
}


.project-item:active {
    border: 1px solid #139b2c;
    color: #139b2c;
}



@media (max-width: 675px) {
    .projects-content-wrapper {
        grid-template-columns: repeat(1, .2fr);
    }
}

