.projects-wrapper {
    margin: 10.5em auto;
}

.projects-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, .2fr);
    grid-column-gap: .5em;
    grid-row-gap: 1em;
    max-width: 80%;
    justify-content: space-around;
    margin: auto; 
}

.project-item{
 font-style: normal;
    font-weight: normal;
    font-size: 1.7em;
    text-align: center;
    color: #148027;
    text-decoration: none;
    background: linear-gradient(142.96deg, rgba(5, 5, 5, 0.6) 15.96%, rgba(19, 19, 19, 0.8) 83.29%);
    border: 1px solid rgba(86, 86, 86, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 20px 20px rgba(252, 251, 251, 0.05);
    padding: 1.7em 1.7em;
    border-radius: .25em;
 
}

.project-item:hover {
    border: 1px solid rgba(252, 250, 250, 0.3);
}


.project-item:active {
    border: 1px solid #FFFFFF;
}



@media (max-width: 675px) {
    .projects-content-wrapper {
        grid-template-columns: repeat(1, .2fr);
    }
}

