.skills-wrapper {
    margin: 10.5em auto;
}

.skills-cards-wrapper {
    text-align: center;
    margin: auto;
}

.skill-card {
    background-color: white;
    box-shadow: 5px 5px 10px black;
    color: black;
    font-size: 1em;
    line-height: 2.2em;
    margin: 0.3em;
    padding: 0.2em 0.35em;
    text-align: center;
    text-shadow: none;
    white-space: pre;
    box-sizing: border-box;
}


@media (max-width: 675px) {
    .skill-card {
        font-size: .75em;
    }
}

@media (max-width: 475px) {
    .skill-card {
        font-size: .6em;
    }
}

p {
    text-align: center;
}