.App {
  margin: auto;
  text-align: center;
  max-width: 70%;
  /* background-color: #148027; */
  font-family: "Goudy Old Style", Georgia, serif;
}

/* header{
  margin: 10em auto;
} */

/* #header-wrap{ position:absolute;} */
h1 {
  margin: 0;
  font-size: 2.5em;
}

p {
  font-size: 1.3em;
}
